[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = "*"
psycopg2 = "*"
locust = "*"
websocket-client = "*"
daphne = "*"

[dev-packages]

[requires]
python_version = "3.10"
